body {
    background-color: white;
    padding-top: 54px;
}

#doctor-info-schedule {
	margin-top: 75px;
	margin-left: 5%;
	margin-right: 5%;
}

.time {
	display: block;
	height: 30px;
	color: #3497db;
	text-align: center;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
 }

 .doctor-info {
 	margin-top: 40px;
 	padding: 10px;
 	box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
 }

 .day {
 	display: block;
 	text-align: center;
 }

 .booked {
 	color: red;
 	display: block;
 	height: 30px;
 	text-align: center;
 }
