html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #E2E2E2; 
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  font-size: 17px;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: table-cell;
  font-size: 17px;
}

/* Style the container */
.card {
	border-radius: 5px;
	background-color: #fff;
	padding: 20px;
	display: flex;
	margin-top: 20px;
  width: 80%;
	left: 10%;
	margin-bottom: 20px;
	text-align: left;
	position: center;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #e3f2fd;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
