html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#main-slogan {
	color: white;
	text-align: center;
}
nav {
	background-color: #e3f2fd;
	font-weight: bold;
}

input {
	width: 100%;
	height: 45px;
}

#search-button {
	height: 45px;
}

#home-header{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/home-background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
