*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-slogan {
	color: white;
	text-align: center;
}


body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, #F0F8FF , #ADD8E6)
} 